@charset "UTF-8";
a {
  text-decoration: none;
}

.adhlist ul {
  list-style: none;
  clear: both;
  display: block;
  font-size: 0.7em;
}
.adhlist li {
  float: left;
  margin: 4px;
  display: block;
  width: 10em;
}
.adhlist li:first-of-type {
  width: 4em;
}
.adhlist li:last-of-type {
  width: 18em;
}
.adhlist ul:first-of-type {
  font-weight: bold;
}

div.wrapper {
  margin: 20px auto 10px;
  min-width: 300px;
  width: 60%;
  padding: 20px;
  border: 1px solid #cc0000;
  border-radius: 5px;
  position: relative;
}

label {
  display: block;
  position: absolute;
  top: -1.1em;
  left: 30px;
  width: auto;
  padding: 0.5em;
  margin: 0;
  background-color: #fff;
  font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, Luxi Sans, sans-serif;
  font-weight: bold;
}

input,textarea {
  font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, Luxi Sans, sans-serif;
  font-size: inherit;
  font-size: 0.8em;
}

textarea {
  width: 100%;
}

p {
  padding: 0.7em;
}

p.center {
  text-align: center;
}

p.erreur {
  color: #cc0000;
  font-weight: bold;
}

img#bgmini {
  border: 1px solid #ddd;
}

.footer {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  padding-bottom: 0.8em;
  clear: both;
}

a.pdf,input[type='submit'],input[type='reset'],input[type='button'] {
  display: inline-block;
  background-color: #af4;
  border: 1px solid #8e2;
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
  margin: 5px 15px;
  cursor: pointer;
  font-family: Times, Times New Roman, Liberation Serif, FreeSerif, serif;
  font-size: inherit;
  transition: .2s ease-in-out;
}

a.pdf:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
}

a.pdf:before {
  content: url(../images/stockage_pdf.png);
  display: inline-block;
  padding: 0 0.6em 0 0;
  vertical-align: middle;
}

p.pdf {
  font-style: italic;
}

p.clear {
  clear: both;
  height: 1px;
  padding: 0;
}
