header, footer
{
	display: none;
}

h2
{
	text-align: center;
}

.donnees
{
	font-family: "DejaVu Sans Mono";
}

#num, #cadre_asso, #cadre_adherent, #cadre_montant, #cadre_enfant, #cadre_divers
{
	border: 1px solid black;
	padding:5px;
	margin-bottom: 5px;
	font-size:92%;
}

#num
{
	width:75px;
	text-align:center;
}
#cadre_paiement{
	width:50%;
}
#logo_asso
{
	margin-top: 2px;
	margin-right: 2px;
	float: right;
}

#cadre_nom
{
	border-bottom: 1px solid black;
}

#cadre_nom .donnees, #cadre_adresse .donnees
{
	text-align: center;
}
#cadre_montant{
	min-height:50px;
}
#cadre_montant .donnees
{
	float:right;
	border: 1px solid black;
	margin:10px;
}
#nom_president{
	font-size:80%;
	text-align:right;
	padding-top:30px;
}

#cadre_signature
{
	width:50%;
	height:70px;
	padding-left:10px;
	background-color: white;
	float: right;
	border-left: 1px solid black;
}

#cadre_date
{
	border-bottom: 1px solid black;
}

#bas_page_facture
{
	/*position: absolute;*/
	text-align: center;
	margin-top: 20px;
	/*bottom: 2px;*/
	width: 100%;
}

strong
{
	font-weight: bold;
}
