@font-face {
	font-family: "DejaVu Sans Mono";
	src: url('DejaVuSansMono.ttf');
}

@font-face {
	font-family: Ubuntu;
	src: url('Ubuntu-R.ttf');
}

a{
	color:#196e92;
	text-decoration:none;
}

body
{
	font-family: Ubuntu, "Trebuchet MS", Arial, serif;
	/*min-height:800px;*/
}

h1
{
	font-family: "DejaVu Sans Mono";
}

header nav
{
	/*border-bottom:1px solid grey;*/
	padding-bottom:8px;
	padding-left:20px;
	position: absolute;
	bottom: 0px;
	line-height: 1.5em;
	font-size: 0.9em;
}

nav a
{
	margin-right:15px;
	text-decoration:none;
}

section
{
	height:90%;
	padding-left:12px;
	padding-top:30px;
	padding-bottom:30px;
}

footer
{
	font-size:80%;
	/*position:absolute;*/
	bottom:10px;
	font-style:italic;
	color:grey;
	padding-left:5px;
	vertical-align:bottom;
	margin-top: 10px;
	width: 99%;
}

footer a
{
	color:grey;
	/*text-shadow:0px 1px 1px #797979;*/
}

#logo
{
	position: absolute;
	top: 0px;
	right: 0px;
}

header
{
	background-color: #a2cac8;
	margin-top: -8px;
	margin-left: -8px;
	padding-top: 8px;
	padding-left: 8px;
	height: 112px;
	position: relative;
}

.donnees
{
	font-family: "DejaVu Sans Mono";
}

th{
	font-weight:bold;
	border-bottom:1px solid grey;
}
table{
	font-size:80%;
	color:#373737;
	/*width:70%;*/
	height:100%;
}
tr{
	border-collapse:collapse;
}

#num, #cadre_asso, #cadre_adherent, #cadre_montant, #cadre_enfant, #cadre_divers
{
	border: 1px solid black;
	padding:5px;
	margin-bottom: 5px;
	width:50%;
	font-size:92%;
}

#num
{
	width:75px;
	text-align:center;
}
#cadre_paiement{
	width:50%;
}
#logo_asso
{
	margin-top: 2px;
	margin-right: 2px;
	float: right;
}

#cadre_nom
{
	border-bottom: 1px solid black;
}

#cadre_nom .donnees, #cadre_adresse .donnees
{
	text-align: center;
}
#cadre_montant{
	min-height:50px;
}
#cadre_montant .donnees
{
	float:right;
	border: 1px solid black;
	margin:10px;
}
#nom_president{
	font-size:80%;
	text-align:right;
	padding-top:30px;
}

#cadre_signature
{
	width:50%;
	height:70px;
	padding-left:10px;
	background-color: white;
	float: right;
	border-left: 1px solid black;
}

#cadre_date
{
	border-bottom: 1px solid black;
}

#cadre_haut
{
	border: 1px solid black;
	height: 105px;
}

#cadre_bas
{
	font-size: 9px;
	color: grey;
}

.cadre_info
{
	margin-top: 1px;
	margin-bottom: 1px;
}

.cadre_info + .cadre_info
{
	border-top: 1px solid black;
}

.cadre_avatar
{
	float: right;
}

.cadre_avatar img
{
	max-height: 125px;
	max-width: 125px;
}

#infos_admin_adherent
{
	border-top: 1px solid black;
	vertical-align: bottom;
	padding: 0.5em;
}

#logo_asso_fiche
{
	background-color: white;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	float: right;
	border-left: 1px solid black;
}

#bas_page_facture
{
	display: none;
}

a
{
	color: #2082b4;
	-webkit-transition-property: color;
	-webkit-transition-duration: 1s;
	-moz-transition-property: color;
	-moz-transition-duration: 1s;
	-o-transition-property: color;
	-o-transition-duration: 1s;
	transition-property: color;
	transition-duration: 1s;


}
header a{
	/*text-shadow:0px -1px 0px #b7d7e7;*/
	/*color:#18a8e4;*/
	color: white;
	font-weight: bold;
}
header a:hover{
	/*text-shadow: 0px 0px 2px #e7bcb7;*/
	color: #FFFD8C;
}
a:hover
{
	color: #c54e42;
}

tr
{
	transition-property: background-color;
	transition-duration: 0.3s;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
}

tr:hover
{
	background-color: #cceeff;
}

.cotisation_ok
{
	background-color: #CFFECC;
}

.cotisation_fin_loin
{
	background-color: #FFE991;
}

.cotisation_fin_proche
{
	background-color: #FFB5B5;
}

.cotisation_fini
{
	background-color: #d6d6d6;
}

.pas_membre
{
	background-color: #F0BDE5;
}

.fichier_vieux
{
	background-color: #f0f0f0;
	color: #707070;
}
/*header nav a:hover
{
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
transform: rotate(-10deg);
}*/

#permission th
{
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-bottom: 0px;
}

#permission th:first-child
{
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	border-bottom: 0px;
}

#permission td
{
	text-align: center;
}

#permission tr:hover:first-child
{
	background-color: white;
}

ul.mois, ul.event
{
	list-style-type:none;
	padding: 0px;
	margin: 0px 3px;
}

ul.mois
{
	text-align: center;
}

#liste_calendrier
{
	list-style-type:none;
	display: inline;
	width: 100%;
}

#liste_calendrier > li
{
	float: left;
}

ul.event > li, ul.mois > li
{
	height: 20px;
}

ul.event
{
	padding-top: 20px;
	overflow: hidden;
	transition: width 2s;
	-moz-transition: width 2s; /* Firefox 4 */
	-webkit-transition: width 2s; /* Safari and Chrome */
	-o-transition: width 2s; /* Opera */
	border-right: 1px solid black;
}

.nom_mois
{
	text-transform: uppercase;
	font-size: 12px;
}

.today
{
	border: 2px red solid;
}

.evenement
{
	background-color: #46B8F1;
}

.dim
{
	background-color: #ffedb0;
}

.formulaire
{
	display: table;
}

.formulaire .ligne
{
	display: table-row;
}

.formulaire .ligne .cellule
{
	display: table-cell;
	padding-top: 3px;
}

.formulaire .ligne .intitule
{
	text-align: right;
	vertical-align: top;
}

.formulaire .ligne > .cellule + .cellule
{
	padding-left: 4px;
}

.formulaire .ligne .cellule input:not([type=radio]||[type=file]), .formulaire .ligne .cellule textarea
{
	border: 0px;
	border-bottom: 1px solid black;
	box-shadow: 1px 1px 3px #AAAAAA;
	width: 179px;
	height: 17px;
}

.formulaire .ligne .cellule select
{
	border: 0px;
	border-bottom: 1px solid black;
	box-shadow: 1px 1px 3px #AAAAAA;
	width: 179px;
	background-color: white;
	color: black;
}

#bouton_valider
{
	border: 0px;
	box-shadow: 1px 1px 3px #AAAAAA inset;
	width: 179px;
	height: 24px;
	font-size: 14px;
	background-color: #E0EDFF;
	color: black;
}

#bouton_valider:hover, .formulaire .ligne .cellule input[type=button]:hover
{
	background-color: #BAFFC7;
	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	transition-property: background-color;
	transition-duration: 1s;
	cursor: pointer;
}

.formulaire .ligne .cellule input[type=button]
{
	border: 0px;
	box-shadow: 1px 1px 3px #AAAAAA inset;
	font-size: 14px;
	width: 25px;
	height: 25px;
}

/* Ajout fichier */

#dial_ajout_fichier
{
	position: fixed;
	z-index: 20;
	top: 30%;
	left: 30%;
	display: none;
	background-color: white;
	border: 1px solid black;
	/* width: 45%;
	height: 45%;*/
	border-radius: 5px;
	padding: 3px;
}

#dial_close
{
	float: right;
	margin-right: 3px;
	margin-top: 2px;
	cursor: pointer;
	z-index: 21;
}

#zone_envoi
{
	min-width: 500px;
	min-height: 300px;
	border-radius: 3px;
}

.drop_encours
{
	border: 3px dashed red;
}

.drop_pas
{
	border: 3px dashed blue;
}

#dial_en_cours_envoi
{
	bottom: 0px;
	position: fixed;
	right: 5px;
	border: 1px solid black;
	background-color: white;
	z-index: 30;
	min-width: 25%;
}

.messages_ml .fermer
{
	display: none;
}

.messages_ml .ouvert
{
	background-color: #f2faff;
}

#panneau_page .petit
{
	font-size: 12px;
}

#colonne_accueil .info_accueil
{
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
}

#colonne_accueil > .info_accueil + .info_accueil
{
	margin-top: 5px;
}

.dossier_formulaire textarea
{
	width: 50%;
	height: 100px;
}
