header, footer
{
    position: fixed;
    background: white;
}

header
{
    /*top: 0px;
    right: 5px;
    left: 8px;*/
    background-color: #a2cac8;
    /*width: 99%;*/
    right: 0px;
    left: 0px;
       padding-top: 8px;
       padding-left: 8px;
}

header nav
{
    padding-left: 28px;
}
/*header
{
       margin-top: -8px;
       margin-left: -8px;
}*/

#logo
{
    right: -6px;
}

footer
{
    width: 13%;
}

nav#panneau_page
{
    /*float: left;*/
    top: 140px;
    margin-right: 3px;
    width: 15%;
    position: fixed;
    background: white;
}

nav#panneau_page h2
{
    margin: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 21px;
}

nav#panneau_page h2 > a
{
    color: black;
}

nav#panneau_page p
{
    margin: 0px;
    padding-right: 10%;
}

#cadre_stockage
{
    left: 15%;
    width: 84.5%;
    top: 140px;
    height: 80%;
    overflow:auto;
    bottom: 1px;
    position: absolute;
}

#cadre_stockage table
{
    width: 100%;
    height: 0%;
}
